enhancedSearchAddon/gensrc/**
enhancedSearchAddon/resources/enhancedSearchAddon/enhancedSearchAddon-testclasses.xml
enhancedSearchAddon/src/com/cts/wis/entitlement/jalo/**
/enhancedSearchAddon/classes/*
/enhancedSearchAddon/gensrc/*
/enhancedSearchAddon/**/extensioninfo.xsd
/enhancedSearchAddon/**/platformhome.properties
/enhancedSearchAddon/**/beans.xsd
/enhancedSearchAddon/**/items.xsd
/enhancedSearchAddon/**/build.xml
/enhancedSearchAddon/**/*-testclasses.xml
/enhancedSearchAddon/ruleset.xml




/enhancedSearch/**/src/**/jalo/*
/enhancedSearch/**/eclipsebin
/enhancedSearch/**/beans.xsd
/enhancedSearch/**/gensrc
/enhancedSearch/**/classes
/enhancedSearch/**/items.xsd
/enhancedSearch/**/extensioninfo.xsd
/enhancedSearch/**/platformhome.properties
/enhancedSearch/**/*-testclasses.xml
/enhancedSearch/**/*-webtestclasses.xml
/enhancedSearch/**/build.xml
/enhancedSearch/web/commonwebsrc/acceleratorstorefrontcommons/*
/enhancedSearch/gensrc/*
/enhancedSearch/classes/*
/enhancedSearch/web/webroot/WEB-INF/classes/*
/enhancedSearch/ruleset.xml